@model HotelSystem.Domain.DTO.AddToHotelCartDto
 
@{ 
    ViewData["Title"] = "Reserve Hotel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add Selected Hotel to HotelCart:</h1>

<hr />

<div class="row">
    <div class="col-md-4 m-auto">
        <form asp-action="AddHotelToCard" method="post">
            <input type="hidden" asp-for="HotelId" />
            <div class="form-group">
                <label asp-for="SelectedHotel.HotelName"></label>
                <input disabled asp-for="SelectedHotel.HotelName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="checkin"></label>
                <input asp-for="checkin" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="checkout"></label>
                <input asp-for="checkout" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>

        </form>
    </div>
</div>